.Battleheader {
  width: 60%;
  background-image: url("https://www.nbcsports.com/chicago/sites/csnchicago/files/styles/article_hero_image/public/2020/02/10/all_star.jpg?itok=ZJNFPzEI");
  text-align: center;
  font-size: large;
  color: #f8f7f7;
  padding: 180px;
  margin-top: 1cm;
}
